<html lang="en"></html>
<head>
    <title>Infrared – Account Created</title>
    <link rel="icon" href="{{ url_for('static', filename='infrared.ico') }}" type="image/x-icon">
    <meta http-equiv="refresh" content="3;url=/" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<div id="running-text-wrapper">
    <section class="running-text" style="background-color: #000000; color: #ffffff">
        <div class="running-text-container">
            <span class="running-text-content">Account created /// Redirecting to login</span>
        </div>
    </section>
</div>

<body>
    <h1>Signup Successful!</h1>
    <p>You will be redirected to the login page shortly.</p>
</body>